:root {
    --background: #1a1d23;
    --react-color: #61dafb;
    --blue-primary: #0d6efd;
    --violet-primary: #46b834;
    --orange--firebase: #FFC209;
    --projects--font--color: #fff;
    --gradient--start: rgba(0,0,0,1);
    --gradient--end: rgba(26,29,35,1);
    --icons--color: #F6F7F9;
    --project--data--background: #1a1d23;  /*#e0e0e0*/
  }
.navbar{
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, var(--gradient--start) 0%, var(--gradient--end) 100%);
    color: #61dafb;
    padding: 12px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.logo-title {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px; 
    font-size: clamp(0.5rem, 0.5rem + 1vw, 1.5rem);
    letter-spacing: 2px;
}
.logo{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.nav-username{
    margin-left: auto;
    position: relative;
    top: -1px;
}
.nav-links{
    display: flex;
    gap: 30px;
    margin-right: 20px;
    font-size: 1.2rem;
}
.nav-link{
    position: relative;
    text-decoration: none;
    color: #ffffff;
}
.nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #61dafb;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
}
.nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: left center;
    transition-duration: 0.4s;
}
.nav-link:hover{
    cursor: pointer;
}

.flex-elements{
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}
.icon-theme{
    color: white;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}
.icon-theme:hover{
    cursor: pointer;
}
.container{
    display: grid;
    place-items: center;
    padding: 10px;
}
.App{
    height: 100%;
}
.project_name{
    color: var(--projects--font--color);
}
.project_data{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: minmax(400px, auto);
    /* padding: 5px 10px; */
    background-color: var(--project--data--background);
    border-radius: 10px;
    /* color: #61dafb;  Color of project labels*/
}
.hidden{
    display: none;
}
.project_control{
    display: flex;
    gap: 3px;
}
.progressBar{
    display: flex;
    justify-content: space-between;
    width: 1200px; 
    min-width: 330px;
    height: 25px;
    border: 1px solid var(--blue-primary);
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0px;
}
.add-icon, .sort-icon{
    height: 45px;
    color: var(--icons--color);
}
.add-icon:hover, .sort-icon:hover{
    cursor: pointer;
    color: var(--react-color);
    color: #FFC209;
    transition: color 2s;
}
.icon-edit, .icon-delete, .icon-info{
    height: 25px;
    margin: 4px 0px 0px 10px
}
.icon-edit{
    color: #4bb2fc;
}
.icon-info{
    color: #f0af4e;
}
.icon-delete{
    color: #d9534f;
}
.icon-edit:hover{
    cursor: pointer;
    color: #428aff;
}
.icon-info:hover{
    cursor: pointer;
    color: #d88e1f;
}
.icon-delete:hover{
    cursor: pointer;
    color: #cc332e;
}
.completed{
    flex-grow: 1;
    background-color: var(--blue-primary);
    border: 1px solid #84b5ff61;
}
.completedSub{
    background-color: var(--violet-primary);
}
.unit{
    flex-grow: 1;
    background-color: white;
    border: 1px solid white;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
    display: grid;
    width: 500px;
    background-color: #23272f;
    padding: 20px;
    border: 1px solid var(--react-color);
    border-radius: 10px;
}
.modal-label{
    text-align: center;
}
.modal-fields{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.modal-fields input{
    background-color: #16181d;
    border: 1px solid #16181d;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 12px;
}
.modal-content-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
}
.confirm-button, .cancel-button{
    width: 80px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-button{
    background-color: var(--blue-primary);
}
.cancel-button{
    background-color: #4e545d32;
}
.confirm-button:hover, .cancel-button:hover{
    cursor: pointer;
    font-weight: 500;
    outline: 1px solid var(--react-color);
}

.loginDiv{
    display: grid;
    place-items: center;
    margin-top: 30px;
}
.loginForm{
    display: grid;
    margin-top: 35px;
}
.loginForm input{
    width: 400px;
    height: 45px;
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.loginForm input:hover{
    outline: 2px solid var(--blue-primary);
}
.loginButton{
    width: 400px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    background-color: var(--blue-primary);
    transition: color 0.5s, background-color 0.2s;
    margin-top: 15px;
}
.loginButton:hover{
    cursor: pointer;
    background-color: var(--orange--firebase);
    color: black;
    transition: color 0.5s, background-color 0.2s;
}
.testUserButton{
    background-color: var(--orange--firebase);
    width: 400px;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
}
.testUserButton:hover{
    background-color: #ffc209;
}
.error-message {
    min-height: 20px;
    color: red;
    font-size: 0.8rem;
    margin-top: 2px;
}

@media screen and (max-width: 1400px){
    .project_data{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1000px){
    .navbar{
        padding: 20px;
    }
}

@media screen and (max-width: 800px){
    .logo{
        display: none;
    }
    .nav-username{
        display: none;
    }
    .navbar{
        padding: 10px 10px;
    }
}