.navbar{
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(26,29,35,1) 100%);
    color: #61dafb;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.img-logo{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.container{
    display: grid;
    place-items: center;
    padding: 10px;
}
.App{
    height: 100%;
}
.project_data{
    /* width: 1100px; */
    /* min-width: 500px; */
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: minmax(400px, auto);
}
.project_control{
    display: flex;
    gap: 3px;
}
.progressBar{
    display: flex;
    justify-content: space-between;
    width: 1000px; 
    min-width: 400px;
    height: 25px;
    border: 1px solid #0d6efd;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0px;
}
.add-icon{
    height: 45px;
}
.add-icon:hover{
    cursor: pointer;
    color: antiquewhite;
}
.icon-edit, .icon-delete, .icon-info{
    height: 25px;
    margin: 4px 0px 0px 10px
}
.icon-edit{
    color: #ffc107;
}
.icon-delete{
    color: #d65b67;
}
.icon-edit:hover{
    cursor: pointer;
    color: orange;
}
.icon-delete:hover{
    cursor: pointer;
    color: red;
}
.icon-info:hover{
    cursor: pointer;
    color:cornflowerblue;
}
.completed{
    flex-grow: 1;
    background-color: #0d6efd;
    border: 1px solid #84b5ff61;
}
.unit{
    flex-grow: 1;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal-content {
    display: grid;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    height: 420px;
    width: 500px;
    background-color: #23272f;
    padding: 20px;
    border: 1px solid #149eca;
    border-radius: 10px;
}
.modal-label{
    text-align: center;
}
.modal-fields{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.modal-fields input{
    background-color: #16181d;
    border: 1px solid #16181d;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 12px;
}
.modal-content-buttons {
    flex-grow: 1;
    /* padding: 20px 20px 0px 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.confirm-button, .cancel-button{
    width: 80px;
    height: 40px;
    font-size: large;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-button{
    background-color: #0d6efd;
}
.cancel-button{
    background-color: #4e545d32;
}
.confirm-button:hover, .cancel-button:hover{
    cursor: pointer;
    font-weight: 500;
    outline: 1px solid #149eca;
}

/* @media (max-width: 1200px) {
    .project_data {
        max-width: 900px;
    }
}
@media (max-width: 960px) {
    .project_data {
        max-width: 500px;
    }
} */