.container{
    display: grid;
    place-items: center;
}
.App{
    height: 100%;
}
.project_control{
    display: flex;
    gap: 3px;
    margin-bottom: 8px;
}
.progressBar{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 25px;
    border: 1px solid #0d6efd;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0px;
}
.edit, .delete{
    height: 25px;
    margin-top: 5px;
}
.completed{
    flex-grow: 1;
    background-color: #0d6efd;
    border: 1px solid #84b5ff61;
}
.unit{
    flex-grow: 1;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
/* .unit:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.unit:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} */